//colours
$graphiteblack: #1c1c1c;
$linenwhite: linen;

//landing
$htmlgrey: #848372;
$htmlblue: #539ed3;

//btn
$reactgreen: #56C9AC;

//projects list
$black: black;
$shadowgrey: grey;


//fonts

$mainfont:'Poppins', sans-serif;
