//colours
$black: black;
$graphiteblack: #1c1c1c;
$htmlgrey: #848372;
$shadowgrey: grey;
$htmlblue: #539ed3;
$bcgblue: #859fc4;
$hoverblue: #859fc4bd;
$linenwhite: linen;
$purewhite: white;

//fonts

$mainfont: 'Poppins', sans-serif;
