@import 'core/variables';
@import 'core/reset';
.aboutme {
  padding-top: 8vh;
  margin: 0 5vw;
  &__title {
    font-size: calc(2em + 2.5vw);
    margin: 5vh 0;
  }
  &__image {
    width: 100px;
    height: 100px;
    margin-right: 10vw;
    box-shadow: inset 0 0 300px 300px rgba(133, 159, 196, 0.6);
    clip-path: circle();
    shape-outside: circle();
    float: left;
    background-image: url(../images/1648032498973.jpg);
    background-position: center;
    background-size: cover;
    background-blend-mode: saturation;
    @media (min-width: 768px) {
      width: 200px;
      height: 200px;
    }
    @media (min-width: 1024px) {
      width: 400px;
      height: 400px;
    }
  }
  &__article {
    margin: 3vh 0;
    @media (min-width: 1024px) {
      line-height: 1.2em;
      font-size: calc(1em + 0.1vw);
    }
  }
  &__btn {
    min-width: 9em;
    height: 1.9em;
    margin-right: 5px;
    font-family: $mainfont;
    font-size: 1em;
    font-weight: bold;
    color: $linenwhite;
    background-color: $bcgblue;
    border: $htmlblue;
    border-radius: 20px;
    @media (min-width: 768px) {
      margin-left: 25%;
    }

    &:hover {
      background-color: $hoverblue;
    }
  }
}
