@import 'core/variables';
@import 'core/reset';

.header__menu--btn {
  min-width: 145px;
  height: 40px;
  margin: 0px 5px 20px 5px;
  font-family: $mainfont;
  font-size: 16px;
  font-weight: bold;
  color: #56C9AC;
  background-clip: text;
  &:hover {
    border: $linenwhite;
    font-size: 20px;
  }
  @media (min-width: 1024px) {
    margin: 0px 20px 40px 5px;
  }
}
