@import 'core/variables';
@import 'core/reset';
.footer{
    color: $linenwhite;
    background-color: $textblue;
    height: auto;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    &__text{
        font-size: 12px;
        margin: 10px;
        @media (min-width: 1024px) {
           font-size: 18px;
          }
    }
}