@import 'core/variables';
@import 'core/reset';
.footer {
  color: $graphiteblack;
  background-color: $linenwhite;
  height: 50px;
  margin-top: 20px;
  padding: 0 5px 0 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
