@import 'core/variables';
@import 'core/reset';
.header__icons{
    font-size: 1.2em;
    color: $htmlgrey;
    margin-bottom: 80px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    .fa-brands, .fa-solid{
        margin-right: 15px;
    }
}