@import 'core/reset';
@import 'core/variables';
.header {
  background-color: $linenwhite;
  padding-top: 8vh;
  padding-bottom: 8vh;
  @media (max-width: 768px) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  &__par {
    font-size: calc(1em + 1.15vw);
    margin-bottom: 6vh;
  }
  &__title {
    font-size: calc(1em + 1.5vw);
    margin-bottom: 2vh;
  }
  &__span1 {
    color: $htmlgrey;
  }
  &__span2 {
    color: $htmlblue;
  }
  &__subt {
    font-size: calc(1em + 1.15vw);
    margin-bottom: 6vh;
  }
  &__image {
    width: 45vh;
    @media (min-width: 768px) {
      margin: auto;
      width: 45vw;
    }
  }
  &__menu {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
}
.flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  @media (min-width: 768px) {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
.flex1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  @media (min-width: 768px) {
    align-items: flex-start;
    margin-left: 30px;
    order: 1;
  }
}
.flex2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  @media (min-width: 768px) {
    order: 2;
  }
}
