@import 'core/variables';
@import 'core/reset';
.header__form--select {
  height: 25px;
  width: 40px;
  font-size: 1em;
  font-weight: 700;
  background-color: transparent;
  color: $graphiteblack;
  border: 2px solid $graphiteblack;
  text-align: center;
  -webkit-appearance: none;
  -moz-appearance: none;
  &:focus {
    outline: none;
  }
  &:hover {
    border: transparent;
  }
  &__option {
    color: $graphiteblack;
  }
}
