@import 'core/variables';
@import 'core/reset';

.header__menu--btn {
  min-width: 9em;
  height: 1.9em;
  margin: 0 5px 0 5px;
  font-family: $mainfont;
  font-size: 1em;
  font-weight: bold;
  color: $linenwhite;
  background-color: $bcgblue;
  border: $htmlblue;
  border-radius: 20px;
  &:hover {
    background-color: $hoverblue;
  }

  @media (min-width: 1024px) {
    margin: 0px 20px 40px 5px;
  }
}
