@import 'core/variables';
@import 'core/reset';

.projects__list--item__title{
    margin: 15px 0px 10px 0px;
  }
.projects__list--item__img{
    width: 75%;
    margin: 10px;
    border-radius: 10px;
  }
.projects__list--item__text{
    font-size: 14px;
    margin: 10px 24px 10px 24px;
    text-align: center;
  }

.projects__linknav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 20px;
  &--link {
    border: 3px solid #004254;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    margin: 10px;
    text-align: center;
    line-height: 1.7;
  }
}