@import 'core/variables';
@import 'core/reset';
.projects {
 
  color: $textblue;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  &__title {
    font-size: 20px;
    margin-top: 20px;
    @media (min-width: 1024px) {
      font-size: 40px;
      margin-top: 20px;
    }
  }
  &__text {
    font-size: 12px;
    text-align: justify;
    margin: 20px;
    @media (min-width: 1024px) {
      font-size: 20px;
      text-align: center;
      line-height: 1.5em;
    }
  }
}
