@import 'core/variables';
@import 'core/reset';
.projects {
  color: $graphiteblack;
  padding-top: 8vh;
  margin: 0 5vw 0 5vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  &__list{
    @media (min-width: 768px) {
      display: grid;
      grid-template-columns: 1fr 1fr;
    }
    
  }
  &__title {
    font-size: 3rem;
    margin-top: 5vh;
    margin-bottom: 5vh;
  }
  &__text {
    font-size: 0.55em;
    line-height: 1.5em;
    text-align: center;
  }
}
